.top-container {
    background-color: #16222C;
    height: 708px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.jiffix {
    color: #FBA91A;
}

.why-chose-cointainer {
    color: #fff;
    width: 350px;
}

.why-chose-cointainer h5 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 20px;
}

.why-chosee-text {
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
}


.choose-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1150px;
    margin: 0 auto;
}

.choose-carousel-container {
    width: 593px;
}

.carousel-container {
    text-align: center;
    /* display: flex;
    flex-direction: column; */
}

/* .carousel-container img{
    flex: 1;
} */

.choose-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #16222C;
    width: 382px;
}

.choose-text-login{
    font-size: 12px;
    width: 480px;
    height: 200px;
    display: block;
    line-height: 22px;
    color: #16222C;
    font-weight: 400;
    padding-top: 20px;
    overflow: hidden;
}

.bold-text-tab-desktop{
    font-weight: 700;
    color: #16222C !important;
}

.italic-text-tab{
    color: #16222C !important;
    font-weight: 400 !important;
    font-size: 12px;
    font-style: italic;
}

.carousel-container h5 {
    color: #fff;
    padding: 20px 0px;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
}

.carousel-container p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    height: 80px !important;
    width: 100%;
    padding: 0px 100px;
    display: flex;
    align-self: center;
    justify-self: center;
}

/* BOTTOM SECTION STYLINGS */
.bottom-cointainer {
    width: 99%;
    margin-top: -50px !important;
    background: url('../../assets/images/tyre.png');
    background-repeat: no-repeat;
}

.bottom-row-wrapper {
    width: 1150px;
    height: 600px;
    margin: 0 auto;
}


.start-from-here {
    background-repeat: no-repeat;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.start-from-here span {
    color: #00AFEF;

}

.start-from-here h5 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    width: 300px;
}

.program-cointainer {
    display: flex;
    margin: 20px 0px;
}

.program-cointainer {
    background: #fff;
    border-radius: 20px;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.tab {
    background: #fff;
    border-radius: 20px;
    padding: 12px 10px;
    height: 40px;
    color: #676767;
    font-weight: 400;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    line-height: 16px;
    cursor: pointer;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.active-tab {
    background-color: #00AFEF;
    color: #16222C;
    font-weight: 500;
}

/* INPUT OVERIDE STYLES */

.input-outline {
    border: 1px solid #9B9E9F !important;
    height: 45px !important;
    padding: 22px !important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-submit-next-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: none;
    border: none;
    background-color: #16222C;
    color: #fff;
    width: 100%;
    font-weight: 600;
    font-size: 12px;
    height: 40px;
    margin-top: 20px;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    transition: 0.4s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.4s ease-in;
    -ms-transition: 0.4s ease-in;
    -o-transition: 0.4s ease-in;
}

.form-submit-next-btn:hover {
    background-color: #00AFEF;
    color: #16222C;
    font-weight: bold;
}

.carousel-control-prev-icon {
    font-size: 10px !important;
}

@media(max-width:650px) {

    .choose-mobile-container{
        background-color: #EFF0F0;
    }
    .mobile-carousel-choose {
        background-color: #16222C;
        overflow-x: hidden !important;
        /* padding-left: 30px; */
    }

    .choose-carousel-img-first {
        width: 120px !important;
        height: 80px !important;
        display: block;
        margin: 0 auto;
    }

    .choose-carousel-img-second {
        width: 160px !important;
        height: 100px !important;
        margin: 0 auto;
    }

    .choose-carousel-img-third {
        width: 150px !important;
        height: 100px !important;
        margin: 0 auto;
    }

    .choose-carousel-img-fourth {
        width: 150px !important;
        height: 100px !important;
        margin: 0 auto;
    }

    .mobile-carousel-choose h4 {
        color: #fff;
        font-weight: 700;
        width: 300px;
        font-size: 30px;
        line-height: 40px;
        padding-left: 30px;
        padding-top: 45px;
    }

    .mobile-carousel-choose h4 span {
        color: #FBA91A;
    }

    .mobile-carousel-choose p {
        color: #fff;
        width: 380px;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        padding: 0px 30px;
    }

    .carousel-mobile-container-choose {
        margin-top: 50px;
        text-align: center;
    }

    .mobile-choose-content {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    /* margin-top: -60px; */
 
    }

    .mobile-choose-content h6{
        padding-top: 30px;
    }

    .mobile-choose-content p{
        width: 350px;
        margin: 20px auto;
        line-height: 25px;
        font-size: 12px;
        height: 100px;
    }

    /* .mobile-choose-content h5{
        background-color: red;
        margin-top: 30px;
    } */

    .start-from-here-mobile{
        font-size: 30px;
        font-weight: 700;
        font-size: 30px;
        line-height: 40px;
        width: 250px;
        padding: 30px;
        padding-top: 45px !important;
        padding-bottom: 10px !important;
    }

    .start-from-here-mobile span{
        color: #00AFEF;
    }

    /* =====ACCORDIAN CSSS===== */
    .accordion-button{
        background-color: #27ADE3 !important;
        color: #000000 !important;
        font-size: 14px !important;
        margin-bottom: 5px !important;
        font-weight: 600 !important;
        padding-left: 25px !important;
    }

    .accordian-btn{
        height: 45px !important;
    }

    .accordian-signup-content{
        font-size: 12px !important;
        width: 290px;
        height: 133px;
        color: #16222C;
        line-height: 25px;
        font-weight: 400;
        /* padding-top: 30px; */
    }

    .accordian-signup-content span{
        font-weight: 600;
    }

    .bottom-text-accordian{
        font-size: 12px;
        font-style: italic;
        color: #16222C;
        font-weight: 400;
        padding-top: 35px;
        padding-bottom: 10px;
    }

    .bottom-text-accordian-signup{
        font-size: 12px;
        font-style: italic;
        color: #16222C;
        font-weight: 400;
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .accordian-sign-btn{
        width: 100% !important;
        height: 45px !important;
    }

}