
.modal-header{
    color: #fff;
}

.Modal-logo{
    position: absolute;
    top: 55px;
    right: 50px;
    width: 60px;
    height: 20px;
}

.close-img{
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    height: 18px;
    width: 10px;
}

.modal-content{
    position: relative;
    top: 80px;
    display: flex;
    margin-left: 125px;
    flex-direction: column;
    width: 836px !important;
    height: 410px;
    pointer-events: auto;
    background-clip: padding-box;
    border-radius: 50px;
    outline: 0;
    /* padding: 20px !important; */
    padding-right: 10px !important;
    background: linear-gradient(110deg, #EEBC35 13.12%, #F4C84F 27.08%, #F5C851 33.89%, #F6C54C 39.21%, #F3C346 43.15%, #E7B936 51.81%, #E8B121 54.16%, #D99A0D 59.76%);
    box-shadow: 0px 4px 50px rgba(255, 255, 255, 0.38);
    border-radius: 50px;
    right: 350px !important;
    -webkit-border-radius: 30px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.book{
    background-color: #FBA91A;
    color: #1B222A;
    outline: none;
    border: none;
    font-size: 12px !important;
    font-weight: 600 !important;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    margin-left: 30px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
}

.book:hover{
    background-color: #27ADE3;
}

.top-modal{
    /* padding: 20px; */
    /* background-color: red; */
    width: 40%;
    height: auto;
    text-align: center;
    /* text-align: center; */
}

.top-modal h5{
    font-size: 35px;
    font-weight: 700;
    color: #fff !important;
    padding-left: 41px;
    padding-top: 41px;
    
    /* text-align: center; */
    text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.top-modal p{
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding-left: 43px;
    line-height: 20px;
    padding-top: 10px;
    /* width: 300px; */
    color: #16222C;
    /* margin-bottom: -20px !important; */
    /* margin-top: 25px; */
}

.top-modal span{
    color: #16222C;
    font-weight: 700;
}

.booking-field-form{
    margin-top: -70px;
    width: 440px;
    height: 215px;
    background-color: #fff;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    padding-left: 25px;
    padding-right: 31px;
    padding-top: 25px;
    /* padding-bottom: 14px !important; */
    margin-right: 31px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.form-car-container{
    display: flex;
}

.form-car-container img{
    display: block;
    /* bottom: 5px; */
    /* margin-top: 15px; */
    margin-top: -15px;
}

.partners-icons{
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    
    margin-left: 104px;
    position: absolute;
    bottom: -10px;
}

.form-control, .form-select {
    border: 1px solid #9B9E9F;
    width: 180.47px !important;
    height: 35.1px !important;
    padding: 0 !important;
}

.form-control::placeholder { 
    font-size: 12px !important;
    font-weight: 400;
    color: #999999;
}

.input-outline{
    font-size: 12px !important;
    font-weight: 400;
    color: #999999;
    padding-left: 13px !important;
}


.mobile-close{
    display: none;
}

.already-customer-text{
   font-size: 10px;
   padding-top: 22px;
}


.already-customer-mobile{
    display: none;
}


@media(max-width:650px){
    .modal-phone{
        width: 240px !important;
        padding: 10px !important;
    }

    .form-car-container{
        flex-direction: column;
        position: absolute;
    }

    .partners-icons{
        display: none;
    }

    .booking-field-form{
        width: 260px !important;
        height: 323px;
        margin-left: 50px;
        margin-top: 192px;
        position: absolute;
        /* bottom: 20px; */
        z-index: 1000000;

    }

    .top-modal p{
        font-size: 11px !important;
        color: #16222C !important;
        margin-top: 0px !important;
        width: 300px;
    }

    .modal-content {
        height: 620px !important;
        width: 363px !important;
        right: 155px !important;
        top: 20px !important;
     
        position: relative;
      
    }

    .top-modal h5{
        color: #fff !important;
        font-size: 30px !important;
        text-align: center;
        width: 300px !important;
    }

    .form-car-container img{
        width: 210px !important;
        height: 130px !important;
        margin-top: 490px;
        display: block;
        margin-left: 65px;
        bottom: 0px;
    }

    .Modal-logo{
        display: none;
    }

 
    .have-account p{
        font-size: 12px !important;
        position: absolute;
        bottom: 5px;
    }

    .mobile-close{
        display: block;
        position: absolute;
        left: 320px;
        top: 10px;

    }
    .close-img{
        display: none;
    }

    .phone-book{
        width: 170px !important;
        margin-left: 30px;
        background-color: #1B222A;
        color: #fff;
        font-weight: 600;
        /* margin-top: -30px !important; */
    }

    .phone-book:hover{
        background-color: #D99A0D;
        color: #fff;
    }

    /* FORMS FOR MOBILE STYLINGS */
    .already-customer-text{
        display: none;
    }
    .form-control, .form-select {
        border: 1px solid #9B9E9F;
        width: 204.47px !important;
        height: 31.36px !important;
        padding: 0 !important;
    }
    
    .form-control::placeholder { 
        font-size: 12px !important;
        font-weight: 400;
        color: #999999;
    }

    .input-outline{
        font-size: 12px !important;
        font-weight: 400;
        color: #999999;
        padding-left: 15px !important;
    }

    .already-customer-mobile{
      position: absolute;
      display: block;
      top: 175px;
      left: 70px;
      font-size: 8px;  
      width: 60%;
      text-align: center;
      color: #65617D !important;
      font-weight: 600 !important;
    }
    
    .signin-mobile{
        font-weight: 700;
        color: #65617D;
        text-decoration: underline;
    }
    
}