.testimonial-wrapper {
    position: absolute;
    top: 60px;
    left: 100px;
}

.testimonial-content {
    height: 100%;
    margin-top: 80px;
}

.testmonial-title {
    font-size: 40px;
    width: 400px;
    color: #fff;
    font-weight: 700;
    line-height: 50px;
    padding-bottom: 30px;
}

.testmonial-title span {
    color: #FBA91A;
}

.testmonial-wrapper {
    width: 400px;
}

.schedule-service-btn {
    background-color: #FBA91A;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    margin-top: 30px;
    font-size: 12px;
    width: 225px;
    height: 40px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

/* ======MOBILE STYLES===== */

@media(max-width:650px) {

    .top-testmonial-img img{
        width: 100% !important;
    }
    .carousel-testimonial-mobile {
        padding-left: 30px;
        background: #16222C;
        color: #fff;
        width: 100% !important;
        padding-top: 45px !important;
        margin-top: -1px;
    }


    .mobile-testimonial-carousel-card h4 {
        font-size: 30px;
        width: 190px;
        font-weight: 700 !important;
        font-style: normal !important;
        line-height: 40px;
        /* padding-top: 61px; */
        padding-bottom: 10px;
    }

    /* .quote{
        font-size: 30px;
        color: #FBA91A;
        font-weight: 700 !important;
    } */

    .mobile-testimonial-carousel-card h4 span {
        color: #FBA91A;
        font-weight: 700 !important;
    }

    .mobile-testimonial-carousel-card p {
        font-size: 14px !important;
        font-weight: 600;
        line-height: 25px;
        width: 275px;
    }

    .mobile-testimonial-carousel-card span {
        color: #9D9D9D94;
        font-weight: 600;
        line-height: 30px;
    }

  

    .slick-next, .slick-prev{
        display: none !important;
    }

    .slick-dots li button:before{
           font-size: 15px !important;
           color: #52380c !important;
           margin-bottom: 20px !important;
    }

    

    .schedule-btn-mobile{
        outline: none;
        border: none;
        background-color: #FBA91A;
        color: #fff;
        margin-top: 40px !important;
        margin-bottom: 60px;
        width: 200px;
        border-radius: 20px;
        padding: 10px 25px;
        font-size: 12px;
        font-weight: 600;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
}
}